.h1-title{
    color: var(--text-light);
    font-size: 48px;
}

.hr-divider{
    border:none;
    border-top: 3px double var(--palette02);
}

.atom-button{
    border-radius: 4px;
    padding: 4px 8px;
    border: 1px solid;
    cursor: pointer;
}
.atom-button:hover{
    box-shadow: 0px 0px 2px #464646;
}

.atom-button.primary{
    background-color: var(--palette01);
    border-color: var(--palette02);
    color: var(--text-light);
}

.atom-button.secondary{
    background-color: var(--palette04);
    border-color: var(--palette01);
    color: var(--text-dark);
}