.card-container{
    background-color: var(--palette03);
    border: 3px solid var(--palette02);
    border-radius: 15px;
    width: 224px;
    height: 136px;
    padding: 8px;
}

.card-container.new{
    background-color: var(--palette01);
    border: 3px solid var(--palette04);
    color: var(--palette04);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-transform: lowercase;
    cursor: pointer;
}

.card-container.new:hover{
    background-color: var(--palette01);
    border: 3px solid var(--palette03);
    color: var(--palette03);
}

.card-title{
    font-weight: bold; 
    font-size:16px;
}

.card-subtitle{
    font-size:12px;
    font-style:italic;
}

.card-href{
    text-align: right;
    font-size: 12px;
    color: var(--palette01);
}

.card-buttons{
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
}